body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

.card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.btn-primary {
  background-color: #20c997;
  border: none;
}

.btn-primary:hover {
  background-color: #17a589;
}

.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1px;
}


.table thead th {
  vertical-align: middle;
}

.table td, .table th {
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f3e5f5 !important;
}

.border-purple {
  border-color: #ba68c8 !important;
}
